@font-face{
	font-family: link;
	src: url(../fonts/Stylish.ttf);
}
@font-face{
	font-family: skan;
	src: url(../fonts/skan.ttf);
}
body, h1, h2, h3, a, p{
	margin: 0;
	font-family: "Trebuchet MS";
}

body {
	height: 100vh;
	position: relative;
	background-image: url('../img/back1.jpg');
	background-size: cover;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
header{
	display: flex;
	position: fixed;
	width: 100%;
	background-color:black;
	height: 150px;
}

header a{ 
	font-family: link;
	margin-right:80px;
	font-size: 49px;
	font-weight: 900;
	text-decoration: none;
}
.lii{
	text-align: center;
	margin-left: 220px;
	margin-right: 250px;
}
.links{
		margin-top: 200px;
	display: flex;

}
.title{
	margin-top: -50px;
	width: 400px;
	height: 250px;
}
.logo{
	width: 200px;
}
.s-Lore{
	display:flex;
	height: 780px;
	flex-direction:row;
}
.container{
	width: 1024px;
	margin: 0 auto;
}
.s-Hello{
	text-align: center;
	padding-top: 200px;
}
.s-Hello h2{
	text-transform: uppercase;
	font-size: 40px;
	font-family: link;
}
.s-Hello p{
	font-size: 25px;
	margin-top: 30px;
}
.links img{

	height: 400px;
	width: 320px;
	margin-left: 220px;
}
.links img:hover{
	transform: scale(1.15);
	transition: 0.7s;
}
.name{
	position: absolute;
	display: flex;
}
.name h3:first-child{
	margin-top: -50px;
	margin-left: 320px;
	 }	
.name h3{
	font-size: 30px;
	color: white;
	font-family: skan;
	margin-top: -50px;
	margin-left: 340px;
}
.name h3:last-child{
	margin-top: -50px;
	margin-left: 380px;
}	
.lii a{
	line-height: 150px;
}
header p{
	width: 200px;
}