@font-face{
	font-family: link;
	src: url(../fonts/Stylish.ttf);
}
@font-face{
	font-family: skan;
	src: url(../fonts/skan.ttf);
}
@font-face{
	font-family: acme;
	src: url(../fonts/acme.ttf);
}
body, h1, h2, h3, a, p{
	margin: 0;
	font-family: "Trebuchet MS";
}

body {
	height: 100vh;
	position: relative;
	background-image: url('../img/back1.jpg');
	background-size: cover;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	background-color:black;
	height: 150px;
}

header a{ 
	font-family: link;
	margin-right:80px;
	font-size: 40px;
	font-weight: 900;
	text-decoration: none;
}	
.lii{
	text-align: center;

}
.links{
	margin-top: 200px;
	display: flex;

}
.title{
	width: 400px;
}

.s-Lore{
	display:flex;
	height: 780px;
	flex-direction:row;
}
.container{
	width: 1024px;
	margin: 0 auto;
}
.s-Hello{
	text-align: center;
	padding-top: 200px;
}
.s-Hello h2{
	color: white;
	text-transform: uppercase;
	font-size: 40px;
	font-family: skan;
}
.s-Hello p{
	padding-top: 20px;
	color:#c6cff4;
	font-family: acme;
	font-size: 28px;
	margin-top: 30px;
}
.links img{
	height: 300px;
	width: 275px;
}
.links img:hover{
	transform: scale(1.15);
	transition: 0.7s;
}
.name{
	margin-top: -200px;
	font-size: 40px;
	color: white;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}
.name div{
	display: flex;
		flex-direction: column;
	margin: 0 100px;
}
.lii a{
	line-height: 1;
}
header p{
	width: 200px;
}
h3{
	font-family: skan;
}