@font-face{
	font-family: link;
	src: url(../fonts/Stylish.ttf);
}
body, h1, h2, h3, a, p{
	margin: 0;
	font-family: "Trebuchet MS";
}

body {
	height: 100vh;
	position: relative;
	background-image: url('../img/back1.jpg');
	background-size: cover;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
header{
	position: fixed;
	width: 100%;
	background-color:#a83296;
	height: 150px;
}

header a{ 
	font-family: link;
	margin: 90px;
	font-size: 49px;
	font-weight: 900;
	text-decoration: none;
}
.links{
	text-align: center;
	padding-top: 50px;
	margin-left: 220px;
}
.title{
position: absolute;
width: 25%;
left: 10px;
top: -35px;
}
.logo{
	position: absolute;
	width: 10%;
	right: -00px;
}
.s-Lore{
	display:flex;
	height: 780px;
	flex-direction:row;
}
.container{
	width: 1024px;
	margin: 0 auto;
}
.s-Hello{
	text-align: center;
	padding-top: 200px;
}
.s-Hello h2{
	text-transform: uppercase;
	font-size: 40px;
	font-family: link;
}
.s-Hello p{

}