@font-face{
	font-family: link;
	src: url(../fonts/Stylish.ttf);
}
@font-face{
	font-family: head;
	src: url(../fonts/Head.ttf);
}
body, h1, h2, h3, a, p{
	margin: 0;
	font-family: "Trebuchet MS";
}

body {
	height: 100vh;
	position: relative;
	background-image: url('../img/back1.jpg');
	background-size: cover;
	position: relative;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
.imgcard{
	width: 17%;
}
h1{
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	font-family: link;
	color: white;
}