@font-face{
	font-family: link;
	src: url(../fonts/Stylish.ttf);
}
@font-face{
	font-family: skan;
	src: url(../fonts/skan.ttf);
}
body, h1, h2, h3, a, p{
	margin: 0;
	font-family: "Trebuchet MS";
}

body {
	height: 100vh;
	position: relative;
	background-image: url('../img/back1.jpg');
	background-size: cover;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container{
	width: 1024px;
	margin: 0 auto;
}
.s-Hello{
	text-align: center;
	padding-top: 200px;
}
.s-Hello h2{
	text-transform: uppercase;
	font-size: 40px;
	font-family: link;
}