body, h1, h2, h3, h4, a, p {
	margin: 0;
	font-family: "Trebuchet MS";
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
header{
	z-index: 3;
	margin-bottom: 300px;
}
.decks_row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.caro{
	display: flex;
	flex-direction: column;
}	
.decks{
	padding-top: 30px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	width: 100px;
	height: 100px;
	color: transparent;
}

.owl-prev {
	left: 0;
	background-image: url(../img/left.png);
	background-size: cover;
}

.owl-next {
		background-image: url(../img/right.png);
		background-size: cover;
	right: 0;
}
.owl-nav button span{
	color: transparent;
}
h2{
	font-family: skan;
	padding-bottom:40px;
	padding-left: 130px;
	text-align: center;
	font-size: 100px;
}
.guide{
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.guide img{
	width: 28%;
}
.iconka{
height: 2%;
width: 7.5%;
margin-left: 70px;
}
.int{
	margin-top: 150px;
	display: flex;
	justify-content: center;
}
.coloda{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
iframe{
	margin-bottom: 170px;
}
h3{
	margin-top: -50px;
	margin-bottom:40px;
	font-size: 40px;
	color: #9855db;
}
.coloda p{
	background-color: white;
	font-size: 20px;
}
.war{
	color: red;
}
.hunt{
	color: green;
}
.pal{
	color: yellow;
}
.rogue{
	color: grey;
}
.lock{
	color: purple;
}
.sham{
	color: darkblue;
}
.mag{
	color: blue;
}
.pri{
	color: white;
}
.dru{
	color: brown;
}