body, h1, h2, h3, h4, a, p {
	margin: 0;
	font-family: "Trebuchet MS";
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
.decks{
	top: 200px;
	position: relative;
	width: 1300px;
	margin: 0 auto;
}
.decks img{
	margin-top: 100px;
	border: 2px solid yellow;
	border-radius: 10px;
}
.decks h1{
	font-family: skan;
	font-size: 35px;
	text-align: center;
	padding-bottom: 30px;
}
.thirdvid{
	left: 600px;
	top: -350px;
}
header{
	z-index: 3;
}
.decks_row{
	display: flex;

	align-items: center;
}
.caro{
	display: flex;
	flex-direction: column;
}